---
import {info} from '@data'

const {sobre_nosotros} = info
---

<section class="w-full mt-40 flex sm:flex-row flex-col justify-around items-center px-2 sm:gap-0 gap-y-10" id="About">
    <div class="flex flex-col gap-5 sm:items-start items-center animate-zoom-in [animation-range:0px_300px] [animation-timeline:view()] ">
        <h1 class="text-4xl font-semibold mb-7 w-full sm:text-left text-center">
            Sobre Nosotros
           </h1>
           <p class="max-w-lg text-secondary text-xl mb-4 sm:text-left text-center">
            {sobre_nosotros}
           </p>
           <button class="rounded-lg bg-button py-4 px-6 text-xl text-black">
            Conoce Mas
           </button>
    </div>
    <img src="/about-img.webp" alt="Imagen de una pizza " loading="lazy" style="mask-image: linear-gradient(to top, black 80%, transparent 100%);">
</section>