<footer class="flex flex-row justify-center items-center mt-48">
  <h1 class="text-xl">
    Desarrollado por Saul Orellana <a
      class="hover:text-button ease-in-out duration-300 transition-colors"
      href="https://github.com/VikusS3"
      role="link"
      rel="
        noopener noreferrer"
      target="_blank
        ">(SaulDev)</a
    >
  </h1>
</footer>
