---
import MenuClose from "@/Icons/MenuClose.astro";
import MenuOpen from "@/Icons/MenuOpen.astro";
import Logo from "@/Icons/logo.astro";

const navItems = [
  {
    name: "Inicio",
    ariaLabel: "Home",
    url: "#Home",
  },
  {
    name: "Nosotros",
    ariaLabel: "About",
    url: "#About",
  },
  {
    name: "Menu",
    ariaLabel: "Menu",
    url: "#Menu",
  },
  {
    name: "Nuevo",
    ariaLabel: "New",
    url: "#New",
  },
];
---

<header
  class="header_scroll flex flex-row justify-between items-center w-full"
  id="Header"
>
  <div
    class="flex flex-row justify-center items-center gap-4 animate-slide-in-bottom"
  >
    <Logo class="w-10 h-10" />
    <h1 class="text-xl font-semibold">Boomerang</h1>
  </div>

  <nav
    class="relative desktop_nav sm:flex flex-row justify-center items-center gap-12 animate-slide-in-bottom"
  >
    <div class="flex flex-row justify-center items-center gap-4 logo_mobile">
      <Logo class="w-10 h-10" />
      <h1 class="text-xl font-semibold">Boomerang</h1>
    </div>
    {
      navItems.map((item) => (
        <a
          class="text-xl font-semibold cursor-pointer sm:hover:text-button sm:hover:mb-1 transition-all duration-300 ease-in-out"
          role="link"
          aria-label={item.ariaLabel}
          href={item.url}
          id={item.url}
        >
          {item.name}
        </a>
      ))
    }
    <button class="text-xl bg-button rounded-full px-8 py-3"> Apoyo </button>
    <button class="MenuBtnClose" aria-label="Cerrar Menu">
      <MenuClose class="w-10 h-10 absolute top-0 right-0" />
    </button>
  </nav>
  <button class="MenuBtnOpen" aria-label="Abrir Menu">
    <MenuOpen class="w-10 h-10" />
  </button>
  <!-- <button class="MenuBtnClose" aria-label="Cerrar Menu">
    <MenuClose class="w-10 h-10" />
  </button> -->
</header>

<style>
  .header_scroll {
    position: sticky;
    animation-timeline: scroll();
    backdrop-filter: blur(10px);
    animation: header_animate;
    padding: 0.5rem;
    z-index: 1000;
    top: 0;
  }
  .MenuBtnOpen {
    display: none;
  }
  .MenuBtnClose {
    display: none;
  }
  .logo_mobile {
    display: none;
  }

  @media screen and (max-width: 850px) {
    .desktop_nav {
      display: none;
    }
    .logo_mobile {
      display: flex;
    }
    .MenuBtnOpen {
      display: block;
    }

    .MenuBtnClose {
      display: block;
    }

    .active_menu {
      display: inline-flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #121617;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      z-index: 1000;
      animation: menuOpen 0.5s both;
    }
  }
  @keyframes header_animate {
    30% {
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  @keyframes menuOpen {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script>
  const menuBtnOpen = document.querySelector(".MenuBtnOpen");
  const nav = document.querySelector(".desktop_nav");
  const menuBtnClose = document.querySelector(".MenuBtnClose");

  menuBtnOpen?.addEventListener("click", () => {
    nav?.classList.add("active_menu");
  });

  menuBtnClose?.addEventListener("click", () => {
    nav?.classList.remove("active_menu");
  });

  const navItems = document.querySelectorAll(".desktop_nav a");
  navItems.forEach((item) => {
    item.addEventListener("click", () => {
      nav?.classList.remove("active_menu");
    });
  });
</script>
