<section class="mt-20 flex flex-col md:flex-row lg:items-start items-center justify-center w-full lg:gap-10 gap-20 animate-fade-in" id="Home">
  <div class="felx flex-col items-center justify-center">
    <img class="lg:w-full  mr-8 md:mr-0" src="/Home.webp" alt="Imagen de una ensalada" />
    <h1 class="text-center text-secondary ml-8 md:ml-0">
      Ensalda de pez con una ensalda de lechuga y tomates
    </h1>
  </div>
  <article class="flex flex-col justify-start items-start mt-8">
    <header class="w-full max-w-3xl">
      <span class="md:text-3xl text-xl md:text-left text-center uppercase text-secondary">#1 de esta semana</span>
      <h2 class="md:text-5xl text-3xl text-center md:text-left  uppercase md:max-w-lg mt-2 leading-[3.7rem]">
        Come una ensalada Saludable
      </h2>
    </header>
    <div>
      <p class="lg:max-w-2xl  text-secondary lg:mt-8 mt-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
        possimus, mollitia cumque modi nesciunt esse unde. Assumenda repellendus
        accusamus minus, omnis libero quos, fugit sunt recusandae illum
        reiciendis, et ratione?
      </p>
    </div>

    <footer class="mt-10">
      <button class="rounded-lg bg-button py-4 px-6">Ordena Ahora</button>
    </footer>
  </article>
</section>
