<section
  class="mt-20 flex flex-col md:flex-row lg:items-start items-center justify-center w-full lg:gap-10 gap-20 "
  id="Home"
>
  <div class="felx flex-col items-center justify-center">
    <img
      class=""
      src="/Home.webp"
      alt="Imagen de una ensalada"
      loading="eager"
    />
    <h1 class="text-center text-secondary ml-8 md:ml-0">
      Ensalda de pez con una ensalda de lechuga y tomates
    </h1>
  </div>
  <article class="flex flex-col justify-start items-start mt-8">
    <header
      class="flex flex-col md:justify-start md:items-start justify-center items-center w-full"
    >
      <span
        class="md:text-3xl text-xl lg:text-left text-center uppercase text-secondary"
        >#1 de esta semana</span
      >
      <h2
        class="md:text-5xl text-3xl text-center md:text-left uppercase md:max-w-lg mt-2 md:leading-[3.7rem]"
      >
        Come una ensalada Saludable
      </h2>
    </header>
    <div>
      <p class="lg:max-w-2xl text-secondary lg:mt-8 mt-4 text-center md:text-left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
        possimus, mollitia cumque modi nesciunt esse unde. Assumenda repellendus
        accusamus minus, omnis libero quos, fugit sunt recusandae illum
        reiciendis, et ratione?
      </p>
    </div>

    <footer class="mt-10 flex items-center w-full justify-center md:justify-start">
      <button class="rounded-lg bg-button py-4 px-6 text-black font-semibold">Ordena Ahora</button>
    </footer>
  </article>
</section>
