---
import MenuItem from "./MenuItem.astro";
import { Menus } from "@data";

const { platos } = Menus;
---

<section
  class="w-full mt-48 flex flex-col justify-center items-center"
  id="Menu"
>
  <h1 class="text-4xl animate-zoom-in [animation-range:0px_300px] [animation-timeline:view()]">Nuestro Menu</h1>
  <div class="flex flex-row  flex-wrap justify-center items-center mt-16 gap-y-10 animate-blink [animation-range:0px_600px] [animation-timeline:view()]">
    {
      platos.map((plato) => (
        <MenuItem
          name={plato.nombre ? plato.nombre : ""}
          type={plato.tipo}
          price={plato.precio}
          image={plato.imagen}
        />
      ))
    }
  </div>
</section>
