---
import ServiceItem from "./ServiceItem.astro";
---

<section class="w-full mt-48 felx flex-col justify-center items-center flex-wrap">
    <h1 class="text-center text-4xl mb-20">
        Nuestros Servicios
    </h1>
    <div class="flex flex-row justify-center items-center gap-20">
        <ServiceItem title="Servicio 24/07" description="Servicios las 24/07 durante el año" img="/services-24-07.webp"/>
        <ServiceItem title="Delivery" description="Servicios las 24/07 durante el año" img="/fast-delivery.webp"/>
        <ServiceItem title="Comida Deliciosa" description="Servicios las 24/07 durante el año" img="/food-1.webp"/>
    </div>
   
</section>